<h1>Edit existing user</h1>

<% if @user.errors.any? %>
<ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>

<% end %>

<%= form_for @user do |f|%>

<p>
    <%= f.label :"First name:" %></br>
    <%= f.text_field :firstname %>
</p>

<p>
    <%= f.label :"Last name:" %></br>
    <%= f.text_field :lastname %>
</p>

<p>
    <%= f.label :"Email:" %></br>
    <%= f.text_field :email %>
</p>

<p>
    <%= f.submit %>


<%end%>

<%= link_to "Back to user listing", users_path %>