<h1>Listing Users</h1>

<table>
    
    <tr>
     <th>First Name</th>   
     <th>Last Name</th> 
     <th>Email</th> 
     </tr>
     
     
     <% @user.each do |user|%>
     <tr>
         <td><%= user.firstname%></td>
         <td><%= user.lastname%></td>
         <td><%= user.email%></td>
         <td><%= link_to 'Edit', edit_user_path(user)%></td>
         <td><%= link_to 'Show', user_path(user)%></td>
         <td><%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure?"}%></td>
         
     </tr>
     
    <% end %>
</table>
<p><%= link_to "Create new user", new_user_path %></p>
