<h1>Showing selected user</h1>

<p>
    First Name: <%= @user.firstname%>
</p>
<p>
    Last  Name: <%= @user.lastname%>
</p>
<p>
    Email:      <%= @user.email%>
</p>

<%= link_to "Edit this user", edit_user_path(@user) %>
<%= link_to "Back to user listing", users_path %>